@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    background-color: #5a5a69;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    margin: auto;
    height: 200vh;
}

/* ======================================= */
header {
    text-align: center;
    padding: 10px 0px 20px 0px;
    background-color: #3c3c46;
}

h2, .list-container {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

.list-container {
    margin-top: 20px;
}

.list li {
    display: inline;
}

.list li:not(:last-child) {
    margin-right: 30px;
}

@media (max-width: 975px) {
    #mid {
        margin-top: 35px;
    }
}
/* ======================================= */

/* ======================================= */
#mid {
    display: flex;
    padding: 50px 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 12px #00000014;
    width: 560px;
}

article {
    line-height: 30px;
    text-align: left;
    color: #2f2f2f;
    padding: 20px 30px 20px 30px;
}

article p {
    text-align: justify;
}

.myinfo {
    font-size: 16px;
    padding: 50px;
}

.profileimg {
    width: 250px;
    border-radius: 10px;
    box-shadow: 2px 4px 12px #00000014;
}

table {
    padding-top: 15px;
}


.myinfolist:first-child {
    font-weight: bold;
}
.myinfolist:not(:last-child) {
    padding-right: 20px;
}
/* ======================================= */

/* ======================================= */
#project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uselang {
    display: inline-block;
    padding: 3px 8px 3px 8px;
    margin: 2px;
    background-color: rgb(212, 212, 212);
    border-radius: 8px;
    color: white;
    font-size: 18px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    padding: 0px 20px 0px 20px;
}

.desc {
    font-size: 16px;
    padding: 20px 20px 0px 20px;
}
.desc a {
    color: #2f2f2f;
    font-size: 30px;
}

#project h1 {
    margin-bottom: 60px;
}

.pjtable {
    border-radius: 10px;
    border-collapse: collapse;
    color: #2f2f2f;
    background-color: white;
}

.pjtable tr:not(:last-child) {
    border-bottom: 1px solid #bbb;
}

.pjtable td {
    padding: 35px;
}
/* ======================================= */

/* ======================================= */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.contact1 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}

.contact2 p {
    display: inline;
    margin: 10px;
    font-size: 25px;
}

.contact2 {
    margin-bottom: 70px;
}